body{
  font-family:Bebas, Helvetica, Arial, sans-serif;
  *{
    font-family:Bebas, Helvetica, Arial, sans-serif;
  }
}

section{
  &.white{
    background-color:@white;
    color:@darktext;
  }
  &.orange{
    background-color:@orange;
    color:@white;
  }
  &.para{
    background-color:@lightgray;
    color:@white;
  }
}